/* Color palette */

$maroon: #574751;
$peach: #ee6723;
$orange: #f69833;
$whitey: #f4f4f4;
$cornflower-blue: #419bf9;
$warm-gray: #bcb5b9;
$turquoise: #0dcfda;
$green: #c8cf2d;
$light-orange: #fdbd39;
$yellow: #fecf33;
$background-gray: #f2f2f2;
