/* Text styles */

.normal {
	font-family: Roboto;
	font-size: 15px;
	text-align: left;
	color: $maroon;
}

.description {
	font-family: Roboto;
	font-size: 15px;
	text-align: left;
	color: $warm-gray;
}