@import '_colors';
@import '_mixins';

.App{
	margin: 0;
	padding: 0;
	
}

// Header component

nav{
	color: #fff;
	height:60px;
	line-height: 60px;
}
nav .nav-wrapper{
	position: relative;
	height: 100%;
}

.background {
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
	
}
.logo-zeplin {
	width: 36px;
	height: 30px;
	margin: 15px 6px 15px 12px;
	float:left;
	object-fit: contain;
	
}

.backButton {
	
	height:18px;
	width: 124px;
	font-size: 15px;
	text-align: left;
	color: $warm-gray;
	object-fit: contain;
	
	i{
		object-fit: contain;
	}
}

.back-title{
	position: absolute;
	width: 124px;
	height: 18px;
	font-family: Roboto;
	font-size: 15px;
	text-align: left;
	color: $warm-gray;
	padding: 0 0 0 6px;
}

.project-name {
	position: absolute;
	width: auto;
	height: 18px;
	font-family: Roboto;
	font-size: 15px;
	text-align: center;
	top: 21px;
	left: 50%;
	transform: translate(-50%);
	color: $maroon;	

}

.ic-notification {
	width: 36px;
	height: 36px;
	margin: 12px 12px 12px 0px;
	object-fit: contain;
	float:right;
}

// Tag Header Component

.tags-header {
	width: 100%;
	height: 48px;
	background: #fff;
	margin: 12px 0px 12px 0px;
	padding-left: 6px;

	
}
.fixed {
	position: sticky;
}
// Tag Component


.chip{
	height:24px;
	line-height: 16px;
	font-size:14px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	color: $maroon;
	border-radius: 12px;
	background-color: rgba(188, 181, 185, 0.3);
	padding: 4px 12px 4px 12px;
	margin-left: 12px;
	
	:hover {
		cursor: pointer;
	}
	
}

// Split Pane Resizer

.Resizer {
	position: sticky;
	width: 12px;
	background-color: #f2f2f2;
	// Hack my way outta here
	background: url(../../assets/Resizer.svg);
	z-index: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	opacity: 0;

	-webkit-transition: all 0.8s ease-out;
	transition: all 0.8s ease-out;
}



.Resizer.vertical {
	cursor: col-resize;
}

.Resizer:hover {
	opacity:1;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

// Panes

.SplitPane{
	overflow-y:visible!important;
}

.left-pane{
	overflow: auto;
}

.right-pane{
	overflow: hidden;
}
// Grid
.dashboard-grid{
	margin: 0px 24px 0 24px;
	position: relative;
	//overflow: scroll;
}

// Thumbnail

.s12 {
	width: 244px!important;
	height: 228px!important;
}

.m6 {
	width: 244px!important;
	height: 228px!important;
}

.thumbnail-card { 
	width: 244px;
	height: 228px;

	:hover{
		border: 1px solid $cornflower-blue;
		cursor: pointer;
	}
}

.thumbnail-hidden{
	display:none;
}


.thumbnail-image {
	width: 220px;
	height: 180px;
	max-width: 100%;
	max-height: 100%;
	
}

.thumbnail-border {
	width: 220px;
	height: 180px;
	border: solid 1px rgba(188, 181, 185, 0.5);
}

.name {
	width: 220px;
	height: 18px;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	text-align: left;
	color: $maroon;
	line-height: 0;
}

// Sidebar

.sidebar-container{
	background-color: $background-gray;
	margin: 0;

	

}

// Project Info

.project-info-container {
	margin: 0;
}

.project-information{
	margin: 0;
}

.project-title{
	height: 56px;
	width: 100%;
	padding: 18px 0 18px 12px;

	.project-title-span{
		vertical-align: middle;
		width: 100%;
		height: 21px;
		font-family: Roboto, sans-serif;
		font-size: 18px;
		text-align: left;
		color: $maroon;
	}
	
	
}

.project-details {
	margin: 0 0 0 12px;
	display:table;

	.project-density{

		width: 280px;
		height: 42px;
		
	}

	.project-type{
		width: 280px;
		height: 42px;
		

	}
	span.title{
		display: table-cell;
		width: 84px;
		height: 18px;
		font-family: Roboto;
		font-size: 15px;
		text-align: left;
		color: $warm-gray;


	}

	span.value{
		display: table-cell;
		width: 160px;
		height: 18px;
		font-family: Roboto;
		font-size: 15px;
		text-align: left;
		color: $maroon;
	}

}



// Members
.members-container{
	margin: 0 0 0 12px;

}

.members-header{
	position: relative;
	height:56px;
	width:auto;
	padding: 18px 0 18px 0;
	
}
.members-title {
	width: 77px;
	height: 21px;
	font-family: Roboto;
	font-size: 18px;
	text-align: left;
	color: $maroon;
}

.member-count{
	position: absolute;
	top:18px;
	right:12px;
	background: $light-orange;
	border-radius: 50%;
	
}

.member-count-span{
	width: 16px;
	height: 16px;
	font-family: Roboto;
	font-size: 14px;
	padding: 4px;
	font-weight: 500;
	text-align: right;
	color: #ffffff;
}

// Member

.collection {
	border: 0 !important;
	box-shadow: 0 !important;
}

.collection-item{
	border: 0 !important; 
	margin: 0 !important;
	box-shadow: 0 !important;

}

.collection-item-gray{
	background: transparent !important;
}

.member-img{
	margin: 3px 0 0 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	
}

.circle{
	
	width: 60px !important;
	height: 60px !important;
}

.member-information{
	margin: 12px 0 0 12px;
	vertical-align: middle;

}

.member-username{
	width: 184px;
	height: 18px;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	text-align: left;
	color: $maroon;

}

.member-permission{

	width: 184px;
	height: 18px;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	text-align: left;
	color: $warm-gray;
}

.detail-background{
	background: $whitey;
	overflow: scroll;
}

.image-detail{
	width:750px;
	height:1334px;
	margin: 0 auto;
	padding-top:37px;
	padding-bottom:37px;
	
}
.hidden{
	display: none;
}