.App {
  margin: 0;
  padding: 0; }

nav {
  color: #fff;
  height: 60px;
  line-height: 60px; }

nav .nav-wrapper {
  position: relative;
  height: 100%; }

.background {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2); }

.logo-zeplin {
  width: 36px;
  height: 30px;
  margin: 15px 0 15px 12px;
  float: left;
  object-fit: contain; }

.project-name {
  position: absolute;
  width: auto;
  height: 18px;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  top: 21px;
  left: 50%;
  transform: translate(-50%);
  color: #574751; }

.ic-notification {
  width: 36px;
  height: 36px;
  margin: 12px 12px 12px 0px;
  object-fit: contain;
  float: right; }
